
input{
    display: none;
}

body{
    background-color:#FFFFE0;
    cursor: none;
}

.memcontainer{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    cursor:pointer;
}

.memcontainer> .mem>.labelcont>label{
    color: blue;
}
.memcontainer:hover > .mem>.labelcont>label{
    color: black;
}

.memcontainer> .mem>input:checked ~ .labelcont>label{
    color: black;
}
.memcontainer:hover > .mem:hover> .labelcont>.pcontent:before{
    content:"\00D7"
    }

.memcontainer:hover > .mem> input:checked ~ .labelcont>.pcontent:before{
content:"\00D7"
}

.memcontainer:hover > .mem>.labelcont>.pcontent:before{
    content: "\002B";
}


.pcontent{
    font-weight: bold;
}

/*добавить размер шрифта*/
h1{
    font-weight: bold;
    border-bottom: solid thin #dbdbdb;
    margin:0;
    padding-bottom: 3%;
}

.mem>.labelcont>label{
    font-weight: bold;
    padding-bottom: 2%;
 
}

.mem{
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: auto;
border-bottom: solid thin #dbdbdb;
padding: 3% 0;
}

img {
    display: none;
    background-color: white;
    width: 50%;
    align-self: center;
}

input:checked ~ img{
    display: block;
}

div:hover > img{
    display: block;
} 

.labelcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
}


