/* 
Размеры шрифтов
Изменить значок состония
момент опускания мышки - для активного эффекта
плавные переходы

*/
input{
    display: none;
}

body{
    background-color:#FFFFE0;
    cursor: none;
}


.memcontainer{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    cursor:pointer;
}

label{
    cursor:pointer;
}

.memcontainer> .mem>.labelcont>label{
    color: blue;
}
.memcontainer:hover > .mem>.labelcont>label{
    color: black;
}

.memcontainer> .mem>input:checked ~ .labelcont>label{
    color: black;
}



.memcontainer:hover > .mem:hover> .labelcont>label>.pcontent:before{
    content:"\00D7";
    }

.memcontainer:hover > .mem> input:checked ~ .labelcont>label>.pcontent:before{
    content:"\00D7"
}

.memcontainer:hover > .mem>.labelcont>label>.pcontent:before{
    content: "\002B";
}


.pcontent{
    font-weight: bold;
}

/*добавить размер шрифта*/
h1{
    font-weight: bold;
    border-bottom: solid thin #dbdbdb;
    margin:0;
    padding-bottom: 3%;
}

.mem>.labelcont>label{
    font-weight: bold;
    padding-bottom: 2%;
 
}



.mem{
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: auto;
border-bottom: solid thin #dbdbdb;
padding: 3% 0;
}

input:checked ~label>img {
    transition: transform 4s;
    display: block;
}
div:hover > label>img{
    transition: transform 4s;
    display: block;
}

.labelimg{
    width: 100%;
}


img {
    display: none;
    background-color: white;
    margin: auto;
}

.labelcont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1%;
}


